
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <td>Course</td>
        <td>Title</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>Wt</td>
        <td>Go-Buy.com</td>
        <td>E-Commerce Platform</td>
    </tr>
    <tr>
        <td>MES</td>
        <td>Safety Guard</td>
        <td>A simple safety system by arduino with gps</td>
    </tr>
    <tr>
        <td>ADMS</td>
        <td>Course Management</td>
        <td>Academic Course Taking System</td>
    </tr>
    <tr>
        <td>CG</td>
        <td>National Martyrs' Monument</td>
        <td>A simple view of National Martyrs' Monument </td>
    </tr>
</table>

